@import '../../styles/responsiveVariables.less';

.header {

  @media @phones {
    padding-bottom: 0px;
  }
}

.header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  // Calcular a altura do cabeçalho removendo os 100px de padding padrão das sessões
  height: calc(100vh - 50px * 2);
  min-height: 360px;
  max-height: 540px;

  @media @phones {
    height: inherit !important;
  }
}

.header--compact .header__container {
  height: initial;
  max-height: initial;
  min-height: initial;
}

.header--compact {
  padding-bottom: 0;
}

.header--compact center {
  max-width: 1140px;
}


.header__align--top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header__align--middle {
  position: relative;
  margin: auto 0;
  top: -6px;

  @media @tablets {
    max-width: 320px;
  }
  
  @media @phones {
    text-align: center;
    margin-top: 10px;
  }
}

.header__title {
  font-size: 64px;
  margin: 0 0 18px -3px;

  @media @tablets {
    font-size: 54px;
  }

  @media @phones {
    font-size: 30px;
    white-space: nowrap;
    line-height: normal;
    margin-bottom: 12px;
  }
}

.header__description {
  opacity: .7;
  margin-top: 18px;

  @media @phones {
    margin-top: 12px;
  }
}

.header__title .and {
  background-image: url(/static/images/and.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: inline-block;
  margin: -16px calc(-72px / 1.8);
  width: 72px;
  height: 80px;
  z-index: -1;

  @media @phones {
    margin: -9px calc(-34px / 1.8);
    width: 34px;
    height: 38px;
  }
}

@media @phones {
  .header__call-to-action {
    display: none;
  }
}

.header__photo {
  position: absolute;
  pointer-events: none;
  max-height: 432px;
  height: 90%;
  right: -30px;
  bottom: -50px;
  z-index: 10;

  @media @tablets {
    height: 86%;
  }

  @media @phones {
    position: relative;
    max-height: inherit;
    height: inherit !important;
    right: 0px !important;
    bottom: 0;
  }
}

.header__photo__img {
  position: relative;
  height: 100%;
  display: block;
  z-index: 0;
  left: 15px;

  @media @phones {
    max-width: 280px;
    width: 100%;
    height: inherit;
    margin: 0 auto;
	  left: 0px;
  }
}

.signature {
  margin-right: 24px;
  display: block;
  height: 50px;

  @media @phones {
    margin: 0 auto;
    height: 44px;
    width: 150px;
  }
}

.links {
  display: block;
  list-style: none;
  padding: 0px;
  margin: 4px -10px 0 0;
}

@media @phones {
  .header__links {
    display: none;
  }
}

.links > li {
  padding: 0 10px;
  display: inline-block;
}
