* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
.root {
  font-size: 18px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  line-height: normal;
  margin: auto;
  color: #333;
}

a {
  text-decoration: none;
  color: #007aff;
}

a:hover {
  text-decoration: underline;
}

h1,
.h1 {
  font-size: 4.2222222rem;
  line-height: 5.1111111rem;
  margin-top: 1.2777778rem;
  margin-bottom: 2.5555556rem;
}

h2,
.h2 {
  font-size: 2.6111111rem;
  line-height: 3.8333333rem;
  margin-top: 1.2777778rem;
  margin-bottom: 1.2777778rem;
}

h3,
.h3 {
  font-size: 1.6111111rem;
  line-height: 2.5555556rem;
  margin-top: 1.2777778rem;
  margin-bottom: 0rem;
}

h4,
.h4 {
  font-size: 1rem;
  line-height: 1.2777778rem;
  margin-top: 1.2777778rem;
  margin-bottom: 0rem;
}

h5,
.h5 {
  font-size: 1rem;
  line-height: 1.2777778rem;
  margin-top: 1.2777778rem;
  margin-bottom: 0rem;
}

p,
ul,
ol,
pre,
table,
blockquote {
  margin-top: 0rem;
  margin-bottom: 1.2777778rem;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0rem;
  margin-bottom: 0rem;
}


/* Let's make sure all's aligned */

hr,
.hr {
  border: 1px solid;
  margin: -1px 0;
}

a,
b,
i,
strong,
em,
small,
code {
  line-height: 0;
}

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

center {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  text-align: initial;
}

section {
  position: relative;
  padding: 50px 0;
  margin-bottom: 0px;
  display: block;
}

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-vertical-center {
  margin: auto 0;
}

span.and {
  transform: scale(1.6);
  font-family: Arial;
  opacity: .24;
  margin: 0 calc(-76px / 2.6);
  display: inline-block;
  z-index: -1;
}

.signature {
  background-image: url(IagoBruno.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 32px;
  height: 40px;
  width: 136px;
}

ul.links {
  display: block;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

ul.links>li {
  margin-left: 16px;
  display: inline-block;
}

section#about {
  background-color: rgba(0,0,0,0.08);
}

#header h1 {
  font-size: 4rem;
}