* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: normal;
  margin: 0px;
  overflow-y: scroll;
  color: #333;
}

a {
  text-decoration: none;
  color: #007aff;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0;
}

center {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  text-align: initial;
}

section {
  position: relative;
  padding: 50px 0;
  margin-bottom: 0px;
  display: block;
}

.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header-vertical-center {
  position: relative;
  margin: auto 0;
  top: -6px;
}

span.and {
  transform: scale(1.6);
  font-family: Arial;
  opacity: .24;
  margin: 0 calc(-73px / 2.6);
  display: inline-block;
  z-index: -1;
}

.header-photo-container {
  position: absolute;
  max-height: 432px;
  height: 90%;
  right: -30px;
  bottom: -50px;
  z-index: 10;
}

.header-photo {
  position: relative;
  height: 100%;
  display: block;
  z-index: 0;
}

.signature {
  background-image: url(IagoBruno.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 24px;
  height: 46px;
  width: 156px;
}

ul.links {
  display: block;
  list-style: none;
  padding: 0px;
  margin: 4px 0 0;
}

ul.links>li {
  margin-left: 16px;
  display: inline-block;
}

section#about {
  background-color: rgba(0, 0, 0, 0.08);
  line-height: 1.6;
}

h1.header-title {
  font-size: 64px;
  margin: 0 0 18px;
}

.header-description {
  opacity: .7;
  margin-top: 18px;
}