* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: normal;
  margin: 0px;
  overflow-y: scroll;
  color: #333;
}

a {
  text-decoration: none;
  color: #007aff;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0;
}

center {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  text-align: initial;
}

section {
  position: relative;
  padding: 50px 0;
  margin-bottom: 0px;
  display: block;
}

.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 300px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header-vertical-center {
  position: relative;
  margin: auto 0;
  top: -6px;
}

span.and {
  transform: scale(1.6);
  font-family: Arial;
  opacity: .24;
  margin: 0 calc(-73px / 2.6);
  display: inline-block;
  z-index: -1;
}

.header-photo-container {
  position: absolute;
  max-height: 432px;
  height: 90%;
  right: -30px;
  bottom: -50px;
  z-index: 10;
}

.header-photo {
  position: relative;
  height: 100%;
  display: block;
  z-index: 0;
}

.signature {
  margin-right: 24px;
  display: block;
  height: 46px;
}

ul.links {
  display: block;
  list-style: none;
  padding: 0px;
  margin: 4px 0 0;
}

ul.links>li {
  margin-left: 16px;
  display: inline-block;
}

section#about {
  background-color: rgba(0, 0, 0, 0.08);
  line-height: 1.6;
}

section#about p:last-child {
  margin-bottom: 0;
}

img.code-sample {
  box-shadow: 0 10px 24px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin-right: 0;
  display: block;
  height: inherit;
  width: 100%;
}

section#about center {
  display: flex;
  align-items: center;
}

.code-sample-container {
  padding-right: 36px;
  position: relative;
  min-width: 480px;
}

h1.header-title {
  font-size: 64px;
  margin: 0 0 18px;
}

.header-description {
  opacity: .7;
  margin-top: 18px;
}

h2.section-title {
  font-size: 28px;
  font-weight: 400;
  margin: -6px 0 20px;
}

ul.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

.list>li {
  display: inline-block;
}

.list.cols-3>li {
  width: calc((100% / 3) - 16px);
}

.list a {
  display: block;
  color: #333;
}

.list a:hover {
  color: #007aff;
  text-decoration: none;
}

img.list-thumb {
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  margin-bottom: 8px;
  height: 194px;
  width: 100%;
}

.list-title {
  font-size: 20px;
}

.list-title span {
  font-size: 16px;
  display: inline-block;
  margin-left: 6px;
  opacity: .7;
}

section#skills>center {
  text-align: center;
}

section#skills {
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  font-size: 18px;
}

section#skills h2.section-title {
  font-size: 34px;
  margin: 0px;
}

.center-middle {
  position: relative;
  margin: 56px auto 80px;
  width: 188px;
}

.skill-item {
  position: absolute;
  opacity: 0.96;
  top: 0px;
  left: 0px;
}

section#footer {
  background-color: rgba(0, 0, 0, 0.08);
}

section#footer center {
  text-align: center;
}

h1.footer-title {
  font-size: 40px;
  margin: -12px 0 16px;
}

#footer ul.links>li:first-child {
  margin-left: 0;
}
#footer ul.links {
  margin-bottom: 40px;
}
a.code-note {
  opacity: .6;
  text-decoration: none !important;
  padding: 0 4px 4px;
  font-size: 16px;
  color: #333;
}

a.code-note>* {
  vertical-align: middle;
  display: inline-block;
}

a.code-note>svg {
  margin-top: 2px;
}


