* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 18px;
  line-height: normal;
  margin: 0px;
  overflow-y: scroll;
  overflow-x: hidden;
  color: #333;
}

a {
  text-decoration: none;
  color: #005aff;
}

a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0;
}

center {
  max-width: 1200px;
  padding: 0 50px;
  margin: 0 auto;
  text-align: initial;
}

header,
section,
footer {
  position: relative;
  padding: 50px 0;
  margin-bottom: 0px;
  display: block;
}

.header-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.header-vertical-center {
  position: relative;
  margin: auto 0;
  top: -6px;
}

span.and {
  background-image: url(images/and.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  display: inline-block;
  margin: -16px calc(-72px / 1.8);
  width: 72px;
  height: 80px;
  z-index: -1;
}

.header-photo-container {
  position: absolute;
  pointer-events: none;
  max-height: 432px;
  height: 90%;
  right: -30px;
  bottom: -50px;
  z-index: 10;
}

.header-photo {
  position: relative;
  height: 100%;
  display: block;
  z-index: 0;
  left: 15px;
}

.signature {
  margin-right: 24px;
  display: block;
  height: 46px;
}

ul.links {
  display: block;
  list-style: none;
  padding: 0px;
  margin: 4px -10px 0 0;
}

ul.links>li {
  padding: 0 10px;
  display: inline-block;
}

#about {
  background-color: rgba(0, 0, 0, 0.08);
  line-height: 1.6;
}

#about p:last-child {
  margin-bottom: 0;
}

.code-sample-container {
  margin-right: 36px;
  position: relative;
  min-width: 480px;
}

img.code-sample {
  background-color: #282a36;
  box-shadow: 0 12px 30px 4px rgba(0, 0, 0, 0.42);
  border-radius: 5px;
  display: block;
  height: inherit;
  width: 100%;
  transition: opacity 1000ms ease;
}

img.code-sample.show {
  opacity: 1;
}

img.code-sample.hide {
  opacity: 0;
}

#about center {
  display: flex;
  align-items: center;
}

h1.header-title {
  font-size: 64px;
  margin: 0 0 18px;
}

#works {
  padding-bottom: 26px;
}

.header-description {
  opacity: .7;
  margin-top: 18px;
}

h2.section-title {
  font-size: 28px;
  font-weight: 400;
  margin: -6px 0 20px;
}

ul.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  padding: 0px;
  margin: 0px;
}

#works .list>li {
  transition: transform 800ms cubic-bezier(0.04, 0.64, 0.21, 0.99);
  margin-bottom: 24px;
}

.list a {
  position: relative;
  outline: none;
  display: block;
  color: #333;
}

.list a:focus,
.list a:hover {
  color: #005aff;
  text-decoration: none;
}

.list a::after {
  background: transparent;
  border-radius: 5px;
  transform: scale(1);
  transition: transform 180ms ease;
  position: absolute;
  content: '';
  z-index: -1;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
}

.list a:focus::after,
.list a:hover::after {
  background: rgba(0, 0, 0, .06);
  transform: scale(1.07);
}

.list a:focus::after {
  border: 1px solid #005aff;
}

img.list-thumb {
  background-color: rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  margin-bottom: 8px;
  height: inherit;
  width: 100%;
}

.list-title {
  font-size: 20px;
}

.list-title span {
  font-size: 16px;
  display: inline-block;
  margin-left: 6px;
  opacity: .7;
}

#skills {
  padding-bottom: 20px;
}

#skills h2.section-title {
  margin-bottom: 6px;
}

.skill-table {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: -12px;
}

.skill-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  opacity: 0.96;
  width: 48%;
}

.skill-label {
  background-color: #9e9e9e;
  border-radius: 20px;
  padding: 4px 16px 5px;
  margin-right: 16px;
  font-size: 16px;
  color: #FFF;
}

.skill-level-bar {
  background-color: rgba(0, 0, 0, 0.08);
  border-radius: 20px;
  overflow: hidden;
  height: 10px;
  width: 100%;
}

.skill-level-bar span {
  background-color: #9e9e9e;
  transition: width 600ms cubic-bezier(0.17, 0.96, 0.45, 0.99);
  border-radius: 20px;
  display: block;
  height: 100%;
}

.other-skills > .skill-label {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  opacity: 1;
}

.other-skills {
  padding-top: 8px;
  width: 100%;
}

#contact {
  background-color: rgba(0, 0, 0, 0.08);
}

#contact center {
  text-align: center;
}

h1.footer-title {
  font-size: 40px;
  margin: -12px 0 16px;
}

#contact ul.links {
  margin-bottom: 40px;
}

a.code-note {
  opacity: .6;
  text-decoration: none !important;
  padding: 0 4px 4px;
  font-size: 16px;
  color: #333;
}

a.code-note>* {
  vertical-align: middle;
  display: inline-block;
  margin: 0 2px;
}

a.code-note>svg {
  margin-top: 3px;
}

h1.header-title {
  margin-left: -3px;
}

p.list-description {
  margin-top: 6px;
  /* margin-bottom: 0; */
  font-size: 16px;
  line-height: 1.5;
  color: #777;
}

section#creative-process {
  padding-bottom: 0px;
}

div.list-icon {
  background-image: url(images/creative-process-icons-sprite.png);
  background-repeat: no-repeat;
  background-size: auto 49px;
  display: block;
  margin-bottom: 16px;
  width: 50px;
  height: 50px;
}

#creative-process .list>li {
  transition: box-shadow 500ms ease;
  padding: 10px 0;
  margin-bottom: 0;
}

#creative-process h2.section-title {
  text-align: center;
  margin-bottom: 22px;
  font-size: 32px;
}


/* 
  ##Device = Desktops
  ##Screen = 860px to higher resolution desktops
*/
@media (min-width: 860px) {
  body {
    overflow-x: hidden;
  }
  #works {
    padding-bottom: 30px;
  }
  .list>li {
    width: calc(100% / 3);
    padding: 0 16px;
  }
  #works ul.list.cols-3 {
    margin: 0 -16px;
  }
  section#creative-process {
    padding-bottom: 20px;
  }
  #creative-process ul.list.cols-3 {
    margin: 0 -30px;
  }
  #creative-process .list>li {
    padding: 22px 30px;
  }
  #creative-process .list>li:nth-child(2) {
    box-shadow: 0 12px 30px rgba(0,0,0,.3);
    border-radius: 5px;
    padding: 22px 24px;
  }
}


/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 640px to 859px
*/
@media (min-width: 640px) and (max-width: 859px) {
  body {
    overflow-x: hidden;
  }
  .header-vertical-center {
    max-width: 320px;
  }
  h1.header-title {
    font-size: 54px;
  }
  .header-photo-container {
    height: 86%;
  }
  .code-sample-container {
    position: relative;
    min-width: 100%;
    margin: -70px 0 24px;
    z-index: 12;
  }
  #about center {
    flex-direction: column;
    width: 86%;
  }
  .list>li {
    width: calc((100% / 2) - 16px);
  }
  #creative-process .list>li {
    width: calc(100% / 3);
    padding: 0 16px;
  }
  #creative-process ul.list.cols-3 {
    margin: 0 -16px;
  }
}


/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (max-width: 639px) {
  body {
    font-size: 18px;
  }
  header,
  section,
  footer {
    padding: 30px 0;
  }
  center {
    padding: 0 24px;
  }
  .header-vertical-center {
    text-align: center;
    margin-top: 10px;
  }
  .header-photo-container {
    position: relative;
    max-height: inherit;
    height: inherit !important;
    right: 0px !important;
    bottom: 0;
  }
  img.header-photo {
    max-width: 280px;
    width: 100%;
    height: inherit;
    margin: 0 auto;
	left: 0px;
  }
  #header {
    padding-bottom: 0px;
  }
  #about {
    line-height: 1.46;
  }
  h1.header-title {
    font-size: 30px;
    white-space: nowrap;
    line-height: normal;
    margin-bottom: 12px;
  }
  #header ul.links {
    display: none;
  }
  .signature {
    margin: 0 auto;
    height: 40px;
    width: 136px;
  }
  a.header-call-to-action {
    display: none;
  }
  .header-container {
    height: inherit !important;
  }
  p.header-description {
    margin-top: 12px;
  }
  span.and {
    margin: -9px calc(-34px / 1.8);
    width: 34px;
    height: 38px;
  }
  #about center {
    flex-direction: column;
  }
  .code-sample-container {
    position: relative;
    min-width: 100%;
    margin: -50px 0 24px;
    z-index: 12;
  }
  ul.list {
    flex-direction: column;
  }
  .list>li {
    width: 100%;
  }
  #works {
    padding-bottom: 6px;
  }
  #works h2.section-title {
    margin-bottom: 16px;
  }
  #contact ul.links>li {
    margin-bottom: 6px;
  }
  h1.footer-title {
    margin-bottom: 6px;
  }
  #contact ul.links {
    margin-bottom: 15px;
  }
  a.code-note {
    font-size: 15px;
  }
  #about p:first-child {
    margin-bottom: 6px;
  }
  .skill-item {
    padding: 6px 0;
    width: 100%;
  }
  .skill-table {
    flex-direction: column;
  }
  .skill-label {
    padding: 4px 12px 5px;
  }
  #creative-process h2.section-title {
    /* text-align: start; */
    margin-bottom: 8px;
    font-size: 28px;
  }
}
.code-note .react-ico {
  margin: 2px -4px 0;
}
