@import '../../styles/responsiveVariables.less';

.about {
  background-color: rgba(0, 0, 0, 0.08);
  line-height: 1.6;

  @media @phones {
    line-height: 1.46;
  }
}

.about center {
  display: flex;
  align-items: center;

  @media @tablets {
    flex-direction: column;
    width: 86%;
  }
  
  @media @phones {
    flex-direction: column;
  }
}

.about__me p:last-child {
  margin-bottom: 0;

  @media @phones {
    margin-bottom: 6px;
  }
}
